In [24]:
import pandas as pd
import numpy as np

In [25]:
df= pd.read_csv("parts.csv", encoding='cp1252')
df

,part_name,part_number,process,material,parttype,rfq_tolerance,partsize,width,height,depth,length,diameter
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Alloy Steel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Aluminum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,3D Printing / FDM,ABS-Like,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,3D Printing / FDM,Thermoplastic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
86593,??,1.49147E+12,Woodworking,Wood,NaN,NaN,NaN,0.0000,0.000,0.0,0.0,0.0
86594,??,1.49147E+12,Woodworking,Wood,NaN,NaN,NaN,0.0000,0.000,0.0,0.0,0.0
86595,????????,1.47997E+12,Contact an Engineer,NaN,NaN,NaN,NaN,0.0000,0.000,0.0,0.0,0.0
86596,????,1.46777E+12,Injection Molding,Thermoplastic,prismatic,NaN,small,52.7366,132.484,25.0,0.0,0.0
86597,??,9,Contact an Engineer,NaN,NaN,NaN,NaN,0.0000,0.000,0.0,0.0,0.0

In [26]:
df=df.iloc[:,2:7]
df

                   process       material   parttype rfq_tolerance partsize
0                      NaN            NaN        NaN           NaN      NaN
1                      NaN    Alloy Steel        NaN           NaN      NaN
2                      NaN       Aluminum        NaN           NaN      NaN
3        3D Printing / FDM       ABS-Like        NaN           NaN      NaN
4        3D Printing / FDM  Thermoplastic        NaN           NaN      NaN
...                    ...            ...        ...           ...      ...
86593          Woodworking           Wood        NaN           NaN      NaN
86594          Woodworking           Wood        NaN           NaN      NaN
86595  Contact an Engineer            NaN        NaN           NaN      NaN
86596    Injection Molding  Thermoplastic  prismatic           NaN    small
86597  Contact an Engineer            NaN        NaN           NaN      NaN

[86598 rows x 5 columns]

In [29]:
df.rename(columns={'Unnamed: 0':'Name','Unnamed: 1':'id'}, inplace=True)
df

           Name             id                 NULL         NULL.1 Unnamed: 4
0           NaN            NaN                  NaN    Alloy Steel        NaN
1           NaN            NaN                  NaN       Aluminum        NaN
2           NaN            NaN    3D Printing / FDM       ABS-Like        NaN
3           NaN            NaN    3D Printing / FDM  Thermoplastic        NaN
4           NaN            NaN         Blow Molding     Other/Misc        NaN
...         ...            ...                  ...            ...        ...
86592        餐桌  1491468779354          Woodworking           Wood        NaN
86593        餐桌  1491469171400          Woodworking           Wood        NaN
86594  高硼硅钢化玻璃罩  1479968647037  Contact an Engineer            NaN        NaN
86595      鬆緊轉軸  1467774123060    Injection Molding  Thermoplastic  prismatic
86596        齿轮             09  Contact an Engineer            NaN        NaN

[86597 rows x 5 columns]

In [30]:
df.describe()

         Name     id                           NULL    NULL.1 Unnamed: 4
count   86525  86066                          76426     74283      67567
unique  66266  64659                            260        38          2
top      Base      1  Machining / Milling & Turning  Aluminum  prismatic
freq      142   2684                          22582     21934      40163

In [31]:
df.dropna(axis=0,inplace=True,how='any', subset=['Name'])
df.reset_index(inplace=True, drop=True)
df=df.head(20000)

In [32]:
df.isna().sum()

Name             0
id              98
NULL          2238
NULL.1        2830
Unnamed: 4    4089
dtype: int64

In [33]:
reg=r'[_!@#$%^&*"-\/]'
df.replace(reg, '', regex=True, inplace=True)

C:\Users\Jainesh.Singh\AppData\Local\Temp\ipykernel_8484\2705865781.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace(reg, '', regex=True, inplace=True)

In [34]:
for i in  range(20000):
    if (df.Name[i]==df.id[i]):
        df.Name[i]=df.Name[i]
    else:
        df.Name[i]=str(df.Name[i])+" "+ str(df.id[i])

C:\Users\Jainesh.Singh\AppData\Local\Temp\ipykernel_8484\4063634158.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Name[i]=df.Name[i]
C:\Users\Jainesh.Singh\AppData\Local\Temp\ipykernel_8484\4063634158.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Name[i]=str(df.Name[i])+" "+ str(df.id[i])

In [35]:
df

,Name,id,NULL,NULL.1,Unnamed: 4
0,1509005501A,1509005501A,Stamping,Carbon Steel,cylindrical
1,2x4DINRailEnclosure,2x4DINRailEnclosure,Fabrication Welding,Carbon Steel,prismatic
2,2000000206 step 2000000206,2000000206,NaN,NaN,prismatic
3,3 or Custom Gutter System Inquiry cp6,cp6,Engineering Design Services,Alloy Steel,NaN
4,3 or Custom Gutter System Inquiry cp6,cp6,Engineering Design Services,Aluminum,NaN
...,...,...,...,...,...
19995,Billet Upright NP0110057,NP0110057,Machining CNC Machining,Aluminum,prismatic
19996,Bin Dividers Wood Cutting 1432057253101,1432057253101,Woodworking,Wood,prismatic
19997,Binder Boss ADM2020AC006 Rev H,ADM2020AC006 Rev H,Machining CNC Machining,Alloy Steel,cylindrical
19998,Binding v2 B02,B02,3D Printing Other 3D Printing,Thermoplastic,NaN
19999,Bins DMS1002,DMS1002,3D Printing Other 3D Printing,ABSLike,prismatic

In [36]:
df['combined']=df['Name']+' '+df['NULL'].fillna('')+' '+df['NULL.1'].fillna('')+' '+df['Unnamed: 4'].fillna('')

C:\Users\Jainesh.Singh\AppData\Local\Temp\ipykernel_8484\2435897239.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['combined']=df['Name']+' '+df['NULL'].fillna('')+' '+df['NULL.1'].fillna('')+' '+df['Unnamed: 4'].fillna('')

In [37]:
df.combined[10]

' baseplate 54290 Machining  Milling Aluminum prismatic'

In [39]:
import spacy

In [ ]:
nlp= spacy.load('en_core_web_md')

In [ ]:
for i in range(2000):
    df.combined[i]=nlp(df.combined[i])

In [ ]:
df.combined

In [ ]:
for token in df.combined[50]:
    print(token.vector)
    print(token.vector.shape)

In [ ]:
df['vector']=df['combined'].apply(lambda x: x.vector)

In [ ]:
df.vector.values

In [ ]:
X=np.stack(df.vector)

In [ ]:
X.shape

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
model=KMeans(n_clusters=250)

In [ ]:
model.fit(X)

In [ ]:
model.labels_

In [ ]:
df['labels']=model.labels_

In [ ]:
df.combined.head(40),df.labels.head(40)

In [ ]:
df.to_csv("result.csv",index=False)